.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  padding: 20px;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-links {
  text-decoration: none;
  margin-right: 30%;
}

.nav-links > a {
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
}
