.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: white;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-links {
  text-decoration: none;
  margin-right: 30%;
}

.nav-links > a {
  color: black;
  font-size: 1.2rem;
}

.ui.compact.menu {
  box-shadow: none;
  border: none;
}

@media (max-width: 600px){
  .navbar img {
    width: 100px;
  }
  .navbar  {
    padding: 10px;
  }
}
