.App {
  text-align: center;
  font-family: "'Montserrat', sans-serif";
}

.margin-top {
  margin-top: 140px !important;
}
.margin-top-medium {
  margin-top: 50px;
}

.section-a {
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.section-b {
  min-height: 100vh;
  background-color: #f0f4fa;
  padding: 150px;
}

.container-a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 50%;
  padding: 10%;
}
.container-b {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-direction: column;
}

.container {
  margin-top: 140px;
  padding: 20px 40px;
  color: black;
}

@media (max-width: 600px) {
  .container {
    padding: 20px 20px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

.image {
  max-width: 52%;
  height: auto;
}

.image-sm {
  max-width: 25%;
  height: auto;
}

.l-image {
  width: 100%;
  height: auto;
  padding-top: 10%;
}

.subheader-a {
  font-weight: bold;
  color: #01bb85;
}

.nav-links > a:hover {
  color: #01bb85;
}

.green {
  color: #01bb85;
}

.text-xl {
  font-size: 10vh;
}
.text-xl-hover {
  font-size: 10vh;
}
.text-xl-hover:hover {
  color: #01bb85;
}
.text-lg {
  font-size: 5vh;
}
.text-lg-hover {
  font-size: 5vh;
}
.text-lg-hover:hover {
  color: #01bb85;
}
.text-md {
  font-size: 3vh;
}
.text-md-hover {
  font-size: 3vh;
}
.text-md-hover:hover {
  color: #01bb85;
}
.text-sm {
  font-size: 2.5vh;
}
.text-sm-hover {
  font-size: 2.5vh;
}
.text-sm-hover:hover {
  color: #01bb85;
}
.text-black {
  color: black;
}

.text-align {
  text-align: center;
}

.padding-top-1 {
  padding-top: 10%;
}
.padding-top-15 {
  padding-top: 15%;
}
.padding-top-2 {
  padding-top: 20%;
}

.padding-bottom-1 {
  padding-bottom: 10%;
}

.line-height {
  line-height: 2em;
}

.margin-top-5 {
  margin-top: 5px;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #01bb85;
  border-radius: 0.6em;
  color: #01bb85;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  align-self: center;
  line-height: 1;
  margin: 20px;
  text-decoration: none;
  text-align: center;
}

.btn-sm {
  padding: 0.3em 0.7em;
}
.btn-md {
  padding: 0.6em 1.4em;
}
.btn-lg {
  padding: 1.2em 2.8em;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.btn:hover {
  box-shadow: 0 0 40px 40px #01bb85 inset;
}

.centered {
  text-align: center;
}

.services .ui.grid > .row > .column {
  padding-left: 0;
  padding-right: 0;
}

.ui.grid > .row > .column.text {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui.grid > .row > .column.text.align-left {
  align-items: flex-start;
  font-size: 12px;
}
.services .ui.grid > .row {
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .services .ui.grid > .row:nth-of-type(even) {
    flex-direction: column-reverse;
  }
  .services img {
    width: 80%;
    display: block;
    margin: 40px auto;
  }

  .ui.grid > .row > .column.mobile.hidden {
    display: none;
  }
}
